/* CSS Reset (https://www.joshwcomeau.com/css/custom-css-reset/) */

/* Confine borders to element width and height instead of adding to them. */
*, *::before, *::after {
  box-sizing: border-box;
}


/* Get rid of any and all default margins. */
* {
  margin: 0;
}


/* Configure line height to WCAG spec and enable font smoothing. */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


/* Default media to render as blocks instead of inline. */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; /* Prevents large media from overflowing. */
}


/* Unstyled button that looks the same on every browser. */
button {
  all: unset;
  user-select: revert;
  box-sizing: inherit;
  outline: revert; /* Keeps the tab focus outline for accessibility. */
  
  background-color: lightgray;
  min-width: 5px;
  min-height: 1rem;
  margin: 0;
}


/* Force inputs to use the site's font styles instead of their own defaults. */
input, button, textarea, select {
  font: inherit;
}


/* Prevent long words from overflowing by hard wrapping them by default (break-word). */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* --------- */
/* End Reset */
/* --------- */


:root {
  --color-bg: #ffffff;
  --color-text: #1f2229;
  --color-text-gray: #b2b2b4;
  --color-text-rating: #1266d8;
  --color-link: #2f78dc;
  --gap: 2rem;
}


body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Mulish", Geneva, Tahoma, sans-serif;
}


a {
  cursor: pointer;
  color: var(--color-link);
  font-weight: 600;
}


a:hover {
  text-decoration: underline;
}


button {
  --border-btn: 2px solid;
  background-color: unset;
  text-transform: uppercase;
  padding: 0.25rem 1.75rem;
  border-radius: 99rem;
  transition: all 0.1s linear;
}


button:active {
  transform: scale(0.9);
  filter: brightness(0.85);
  transition: all 0.02s ease-out;
}


@media (hover: hover) {
  button:hover, button:focus {
    transform: scale(1.1);
  }

  button:active {
    transform: scale(1);
  }
}


button.button--outline {
  font-weight: bold;
  border: var(--border-btn);
  background-color: var(--color-bg);
}


button.button--solid {
  color: var(--color-bg);
  border: var(--border-btn) var(--color-text);
  background-color: var(--color-text);
}


.play-button {
  position: relative;
  white-space: nowrap;
  padding-inline: 1rem 2.5rem;
}


.play-button::after {
  content: '▶';
  aspect-ratio: 1 / 1;
  position: absolute;
  inset: 0 0 auto auto; /* top: 0; right: 0 */
  font-size: 1.25rem;

  color: var(--color-text);
  background-color: var(--color-bg);
  
  height: 100%;
  padding-left: 0.2rem;
  padding-bottom: 0.2rem;

  text-align: center;
  align-content: center;
  border-radius: 100%;
}


.text-bold {
  font-weight: 800;
}


.text-underlined {
  text-decoration: underline;
}


.window {
  padding: 4rem;
  max-width: 75rem;
  margin: 0 auto;
}


/* -- Header -- */
.card-header {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1rem;
  width: 100%;
  margin-bottom: var(--gap);
}


.card-header h1 {
  grid-column: 1;
  grid-row: 1;
}


@media (max-width: 40rem) {
  .card-header h1 {
    grid-column: 1 / -1;
  }
} 


.card-header h2 {
  grid-column: 1;
  grid-row: 2;
}


.card-header .rating__container {
  justify-self: end;
}


.rating__container {
  color: var(--color-text-gray);
  font-size: 1.25rem;
  width: fit-content;
  height: fit-content;
}


.rating {
  color: var(--color-text-rating);
}


/* -- Card Contents -- */
.card-content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: var(--gap);
}


/* -- Left Column: Poster & Buy Option -- */
.card-content__left-col {
  flex-shrink: 1;
  width: 33%;
}


.poster {
  aspect-ratio: 2 / 3;
  width: 100%;
  margin-bottom: var(--gap);
}


.poster img {
  background: lightcoral;
  width: 100%;
  height: 100%;
}


.price-label {
  font-size: 1.5rem;
  height: 100%;
}


.price-label__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: space-between;
  align-items: center;
}


/* Right Column: About the Movie */
.card-content__right-col {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: start;
}


.about-section {
  margin-bottom: var(--gap);
}


/* -- Right Column: Credits -- */
.credits-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--gap);

  width: 100%;
  max-height: 10rem;
  margin-bottom: var(--gap);
}


.credits-list {
  list-style-type: none;
  padding: 0;
}


/* -- Right Column: Trailer Button -- */
.card-content__right-col .play-button {
  display: block;
  margin-left: auto;
}


.card-content__right-col div:has(.play-button) {
  margin-top: auto;
}


/* -- Mobile Layout -- */
@media (max-width: 53rem) {
  :root {
    --max-width-poster: 20rem;
  }

  .card-content__left-col {
    width: 100%;
    max-width: var(--max-width-poster);
    margin-inline: auto;
  }


  .price-label__container {
    column-gap: 40%;
    justify-content: center;
  }


  .price-label__container button {
    flex-grow: 1;
    text-align: center;
  }


  .card-content__right-col {
    flex-basis: auto;
  }


  .credits-section {
    flex-direction: row;
    max-height: fit-content;
  }


  /* "Watch Trailer" Button's Container */
  .card-content__right-col div:has(.play-button) {
    order: -1;
    width: 100%;
    margin-bottom: var(--gap);
  }


  /* "Watch Trailer" Button */
  .card-content__right-col .play-button {
    text-align: center;
    width: 100%;
    max-width: var(--max-width-poster);
    margin-inline: auto;
  }
}


/* Hide "Watch" in "Watch Trailer" when the screen is too small. */
@media (max-width: 20.5rem) {
  .card-content__right-col .play-button span {
    display: none;
  }
}