/* CSS Reset (https://www.joshwcomeau.com/css/custom-css-reset/) */

/* Confine borders to element width and height instead of adding to them. */
*, *::before, *::after {
  box-sizing: border-box;
}


/* Get rid of any and all default margins. */
* {
  margin: 0;
}


/* Configure line height to WCAG spec and enable font smoothing. */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


/* Default media to render as blocks instead of inline. */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; /* Prevents large media from overflowing. */
}


/* Force inputs to use the site's font styles instead of their own defaults. */
input, button, textarea, select {
  font: inherit;
}


/* Prevent long words from overflowing by hard wrapping them by default (break-word). */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* --------- */
/* End Reset */
/* --------- */


body {
  display: flex;
  overflow: hidden;
  font-family: "Inter", verdana;
  color: #fff;
  background: #1b88a9;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}


.window {
  display: flex;
  overflow: clip;
  flex-direction: column;
  background: linear-gradient(#4ed2de, #59dec9);
  width: 100dvw;
  height: 100dvh;
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.3);
}


@media (min-width: 601px) and (min-height: 601px) {
  .window {
    border-radius: 1rem;
  }
}


.nav-header {
  display: flex;
  background: #00b0c3;
  width: 100%;
  height: 15%;
  min-height: fit-content;
}


.tab-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}


.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 55%;
}


.timer__time-left {
  pointer-events: auto;
  position: absolute;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}


.timer__frame {
  pointer-events: none;
  position: relative;
  flex-grow: 1;
  aspect-ratio: 1/1;
  margin: 0 auto;
  border: solid 1px white;
  border-radius: 100%;
}


.timer__progress {
  position: relative;
  overflow: visible;
  aspect-ratio: 1/1;

  height: 100%;
  width: auto;
}


.timer__progress circle {
  --thickness: 4px;
  stroke-width: var(--thickness);
  stroke-dashoffset: calc(var(--progress) * 100px);
  
  transform-origin: center;
  transform: rotate(-90deg) scaleY(-1);
  transition: stroke-dashoffset 1.1s linear;
}


.timer__progress-tip {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(var(--progress) * 1turn));
  transition: transform 1.1s linear;
}


.timer__progress-tip::after {
  content: "";
  display: block;
  position: relative;
  background: #fff;
  top: -0.5rem;

  height: 1rem;
  width: 1rem;
  margin: 0 auto;
  
  border-radius: 100%;
  box-shadow: 0 0 5px #fff;
}


.timer-controls {
  display: flex;
  justify-content: center;
  gap: 12%;
}


@media (max-height: 22rem) {
  .timer__frame {
    visibility: hidden;
    position: initial;
  }

  .timer__time-left {
    visibility: visible;
  }
}


.text-lg {
  font-size: 2.5rem;
}


.text-md {
  font-size: 1.5rem;
}